<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.suneelworkspace.readme</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>/Users/MAC/SuneelWorkSpace/hands/automation/readme/run_nightly.sh</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>0</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>/Users/MAC/SuneelWorkSpace/blood/logs/readme-nightly.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/MAC/SuneelWorkSpace/blood/logs/readme-nightly.err.log</string>
  <key>WorkingDirectory</key>
  <string>/Users/MAC/SuneelWorkSpace</string>
  <key>RunAtLoad</key>
  <false/>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Users/MAC/SuneelWorkSpace/hands/bin</string>
  </dict>
</dict>
</plist>
